<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleDisplayName</key>
	<string>Solif: Speech to Text</string>
	<key>CFBundleName</key>
	<string>Solif: Speech to Text</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Solif needs microphone access to record and transcribe your speech.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/zaiderikat/solif-speech-to-text-updates/main/releases/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>VwINlFEMjZy5iwv5FjLIHwWDs0l4LQ1BQj037i0ni1w=</string>
</dict>
</plist>
